.item {
    display: inline-block;
    width: 130px;
    position: relative;
}

.value {
    font-size: 40px;
    font-weight: normal;
    font-family: 'RobotoNormal';
    display: block;
    padding: 0 18px 0 0;
    position: relative;
    color: #008dff;
    text-align: right;
}
.value::after {
    font-size: 14px;
    font-weight: normal;
    font-family: 'RobotoNormal';
    content: 'MI';
    position: absolute;
    top: 8px;
    right: 0;
}
.icon-60 {
    background-image: url(/assets/models/60.svg);
}
.icon-60d {
    background-image: url(/assets/models/60d.svg);
}
.icon-75 {
    background-image: url(/assets/models/75.svg);
}
.icon-75d {
    background-image: url(/assets/models/75d.svg);
}
.icon-90d {
    background-image: url(/assets/models/90d.svg);
}
.icon-p100d {
    background-image: url(/assets/models/p100d.svg);
}
.icon {
    height: 20px;
    background-size: auto 13px;
    background-position: top right;
    background-repeat: no-repeat;
}