.container {
    float: left;
}
.item-heat-on {
    color: #fff;
    background: #d64800;
    background: linear-gradient(to bottom, #d64800 0%, #d20200 100%);
}
.item-heat-off{
    color: #666;
    background: #fff;
}
.item-ac-on {
    color: #fff;
    background: #33a0ff;
    background: linear-gradient(to bottom, #33a0ff 0%, #388bff 100%);
}
.item-ac-off {
    color: #666;
    background: #fff;
}

.item {
    cursor: pointer;
    display: block;
    width: 100px;
    height: 100px;
    border: 6px solid #f7f7f7;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  
}
.switch-label{
    margin: 14px 0 0;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
}
.icon {
    display: block;
    width: 22px;
    height: 22px;
    margin: 8px auto 0;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-heat-on {
    background-image: url(/assets/climate/heat-on.svg);
}
.icon-heat-off {
    background-image: url(/assets/climate/heat-off.svg);
  }

.icon-ac-off {
  background-image: url(/assets/climate/ac-off.svg);
}
.icon-ac-on {
  background-image: url(/assets/climate/ac-on.svg);
}
.switch-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}